[submodule "example-store"]
	path = example-store
	url = ../lorry.example-store
	branch = main
[submodule "utils"]
	path = utils
	url = ../lorry.utils
	branch = main
[submodule "utils-usql"]
	path = utils-usql
	url = ../lorry.utils-usql
	branch = main
[submodule "testing"]
	path = testing
	url = ../lorry.testing
	branch = main
[submodule "project"]
	path = project
	url = ../lorry.project
	branch = main
[submodule "project-compose"]
	path = project-compose
	url = ../lorry.project-compose
	branch = main
[submodule "project-spring"]
	path = project-spring
	url = ../lorry.project-spring
	branch = main
[submodule "project-vue"]
	path = project-vue
	url = ../lorry.project-vue
	branch = main
